@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body{
    background-color: #171c21;
}

::-webkit-scrollbar {
    width: 14px;
    background-color: #292e38;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.1);
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}